<div class="grid_16" id="site_info">
    <div class="box">
		<p>FollowPeers(c) 2011, is a Final Year Project by Arun, Pyi Pai & Ritesh under Dr Xu Yong Ping, CPE Department, National University of Singapore. Read our <a href="#">Privacy Policy</a> & <a href="#"> Terms of Use</a>.</p>
    </div>
</div>
<div class="clear"></div>
